<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 hero">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<h1> Thanks for visiting us!</h1> <p> We're currently updating to a fresh look and will be back soon.  If you have any questions in the meantime, please don't hesitate to reach out to us at info@greencloudrealty.com with any questions.  </p> Thanks again for dropping by.  :)</p>
					<%= image_tag "greencloud_logo.png", class: "img-responsive logo" %>
				</div>
			</div>
		</div>
	</div>
</div>

